
     <h4 class="text-center mb-4">
  جدول الطلاب
</h4>


    <!-- Table -->
    <div class="card-body p-0">
      <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered text-center align-middle mb-0">
          <thead class="table-primary">
            <tr>
              <th scope="col">الاسم</th>
              <th scope="col">المادة</th>
              <th scope="col">الدرجة</th>
              <th scope="col"> الإجراءات</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>أحمد علي</td>
              <td>رياضيات</td>
              <td><span class="badge bg-success px-3 py-2 fs-6">80</span></td>
              <td>
                <button class="btn btn-sm btn-warning me-2">
                  <i class="fa-solid fa-pen-to-square"></i> تعديل
                </button>
                <button class="btn btn-sm btn-danger">
                  <i class="fa-solid fa-trash"></i> حذف
                </button>
              </td>
            </tr>
            <tr>
              <td>منى محمد</td>
              <td>لغة عربية</td>
              <td><span class="badge bg-danger px-3 py-2 fs-6">40</span></td>
              <td>
                <button class="btn btn-sm btn-warning me-2">
                  <i class="fa-solid fa-pen-to-square"></i> تعديل
                </button>
                <button class="btn btn-sm btn-danger">
                  <i class="fa-solid fa-trash"></i> حذف
                </button>
              </td>
            </tr>
            <tr>
              <td>سارة محمود</td>
              <td>علوم</td>
              <td><span class="badge bg-success px-3 py-2 fs-6">95</span></td>
              <td>
                <button class="btn btn-sm btn-warning me-2">
                  <i class="fa-solid fa-pen-to-square"></i> تعديل
                </button>
                <button class="btn btn-sm btn-danger">
                  <i class="fa-solid fa-trash"></i> حذف
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
